.hero-detail__id,
.hero-detail__label,
.hero-detail__input {
  font-size: 18px;
}

.hero-detail__group {
  margin-top: 20px;
}

.hero-detail__action {
  font-size: 16px;
  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }
}
